@font-face {
  font-family: 'YetziraCustom'; /* זה השם שבו נשתמש בקוד */
  src: url('.//fonts/BA\ HaYetzira\ Choppy.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* מבטיח שהטקסט יופיע מיד */
}